body {
  padding: 0;
  margin: 0;
  font-family: asap-semibold-italic, arial, sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

button,
select {
  cursor: pointer;
}

/* ECONOMY */

.money-container {
  position: absolute;
  top: 40px;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.bank-balance {
  font-size: 28px;
  color: blue;
  font-weight: 900;
}

.cash-balance {
  font-size: 22px;
  color: green;
  font-weight: 900;
}

.bank-container {
  background-color: #f6f6f1;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
  display: none; /* none */
}

.bank-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25%;
  align-items: center;
  width: 100vw;
  height: 70px;
  padding: 0 20px;
  position: sticky;
}

.bank-info p {
  position: absolute;
  right: 190px;
  top: 8px;
  font-size: 20px;
}

.bank-logo {
  display: flex;
  flex-direction: row;
  height: 70px;
  position: absolute;
  left: 20px;
}

.svea-exit {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 35px;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: rgba(210, 4, 4, 0.7);
  color: #fff;
  transition: all 0.3s ease;
}

.svea-exit:hover {
  background-color: rgb(255, 1, 1);
}

.svea-logo {
  margin-right: 15px;
}

.bank-logo h3 {
  margin-top: 18px;
  font-size: 25px;
  margin-left: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-left: -60px;
}

.navbar a {
  margin-top: 3px;
  text-decoration: underline;
  color: #595959;
  font-size: 20px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #000;
}

.svea-headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20px;
  margin-bottom: 0;
}

.svea-headers-logo {
  height: 250px;
  margin-bottom: -30px;
}

.svea-headers p {
  margin-top: 0;
  font-size: 25px;
}

.available-balance {
  position: relative;
  left: 200px;
  top: -150px;
  background-color: #fff;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  width: fit-content;
  max-width: 500px;
  height: 150px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.available-balance h1 {
  font-size: 25px;
  margin-bottom: 0;
}

.available-balance h3 {
  position: relative;
  font-size: 30px;
}

.transaction-id {
  position: relative;
  right: -1400px;
  top: -225px;
  background-color: #fff;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  width: fit-content;
  max-width: 500px;
  height: 150px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transaction-id h1 {
  font-size: 25px;
  margin-bottom: 0;
}

.transaction-id h3 {
  position: relative;
  font-size: 30px;
}

.svea-main {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  gap: 20px;
}

.svea-transactions {
  grid-column: 1 / 2;
  width: fit-content;
  padding: 20px;
}

.svea-transactions-line {
  width: 300px;
  position: absolute;
  left: 0;
  margin-top: -15px;
  margin-left: 20px;
}

.transactions {
  display: flex;
  flex-direction: column;
}

.transaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#id {
  font-weight: bold;
  border-right: 2px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  width: 80px;
}

#money {
  border-right: 2px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  min-width: 100px;
  width: fit-content;
  max-width: 200px;
}

#type {
  border-right: 2px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  min-width: 100px;
  width: fit-content;
  max-width: 200px;
}
#reciver {
  border-right: 2px solid #ccc;
  padding: 5px;
  padding-right: 10px;
  border-radius: 3px;
  min-width: 120px;
  width: max-content;
  max-width: 175px;
}
#date {
  border-right: 2px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  min-width: 100px;
  width: fit-content;
  max-width: 200px;
}

#money {
  font-style: italic;
}

.svea-withdraw {
  grid-column: 2 / 3;
  margin-left: 90px;
}

.svea-deposit {
  grid-column: 3 / 4;
}

.svea-withdraw,
.svea-deposit {
  margin-top: 22px;
  background-color: #f6f6f1;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.svea-withdraw h1,
.svea-deposit h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.svea-withdraw-line,
.svea-deposit-line {
  margin: 10px 0;
}

.withdraw-amount,
.deposit-amount {
  width: 280px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.withdraw-btn,
.deposit-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.withdraw-btn:hover,
.deposit-btn:hover {
  background-color: #45a049;
}

.make-transaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.make-transaction h1 {
  font-size: 50px;
  font-weight: bolder;
  background-image: linear-gradient(to right, #00325c 0%, #00aece 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#make-a-transaction {
  width: 796px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  background-color: #fbfbf7;
}

#make-a-transaction h6 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: normal;
}

#make-a-transaction hr {
  width: 140px;
  text-align: left;
  position: relative;
  left: -327px;
}

.reciver-info {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.reciver-info-input {
  text-align: center;
  width: 200px;
  height: 35px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 3px;
  margin: 10px;
  background-color: #00aece;
  color: #fff;
  background-image: linear-gradient(to left, #00325c 0%, #00aece 100%);
}

#reciver-lastname {
  background-image: none;
  background-color: #00325c;
}

#reciver-id {
  background-image: linear-gradient(to right, #00325c 0%, #00aece 100%);
}

.transaction-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;
}

.transaction-info-input {
  text-align: center;
  width: 200px;
  height: 35px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 3px;
  margin: 10px;
  background-color: #00aece;
  color: #fff;
  background-image: linear-gradient(to left, #00325c 0%, #00aece 100%);
}

#transaction-amount {
  margin-left: 100px;
}

#transaction-note {
  background-image: linear-gradient(to right, #00325c 0%, #00aece 100%);
}

#transaction-send {
  margin-top: 30px;
  margin-left: 315px;
  background-image: none;
  background-color: #00325c;
  font-size: 25px;
  color: #00aece;
  height: 40px;
  width: 180px;
  transition: all 0.5s ease;
}

#transaction-send:hover {
  background-color: #00aece;
  color: #00325c;
}

/* SPAWNMENU */

.server-watermark {
  width: 80px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

#container {
  background: rgba(10, 81, 222, 0.6);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; /* none */
}

#spawnmenu-exit {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  color: #fff;
  background-color: rgba(196, 5, 5, 0.7);
  outline: none;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#spawnmenu-exit:hover {
  background-color: rgba(196, 5, 5, 1);
}

.server-image {
  width: 20%;
  position: absolute;
  top: 20px;
}

.characters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.character {
  background: rgba(10, 81, 222, 0.8);
  width: 220px;
  height: 280px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #fff;
}

.character h4 {
  font-size: 20px;
}

.character-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.character-button {
  width: 80px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 7px;
  color: #fff;
  display: none;
}

#spawn-character {
  background-color: rgb(10, 210, 70);
  transition: all 0.3s ease;
}

#spawn-character:hover {
  background-color: rgb(7, 239, 76);
}

#delete-character {
  transition: all 0.3s ease;
  background-color: rgb(196, 5, 5);
}

#delete-character:hover {
  background-color: rgb(245, 4, 4);
}
#delete-character-confirm {
  transition: all 0.3s ease;
  background-color: rgb(245, 4, 4);
}

#delete-character-confirm:hover {
  background-color: rgb(196, 5, 5);
}
#delete-character-abort {
  transition: all 0.3s ease;
  background-color: rgb(7, 239, 76);
}

#delete-character-abort:hover {
  background-color: rgb(10, 210, 70);
}

#active-character {
  display: none;
  width: 150px;
  height: 40px;
  pointer-events: none;
  background-color: rgb(10, 210, 70);
  font-size: 20px;
}

#create-character {
  transition: all 0.3s ease;
  display: block;
  width: 140px;
  height: 40px;
  font-size: 20px;
  margin-top: 40px;
  background-color: rgb(14, 197, 222);
}

#create-character:hover {
  background-color: rgb(0, 219, 248);
}

.create-character {
  background-color: rgba(10, 81, 222, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 440px;
  border-radius: 12px;
  font-family: sans-serif;
}
.create-character h4 {
  color: #fff;
  font-size: 40px;
  padding: 3px;
  margin: 5px;
}

#create-character-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#firstname {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #fff;
  min-width: 40px;
  width: fit-content;
  max-width: 180px;
  padding: 5px;
  margin: 7px;
  margin-bottom: 0;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

#lastname {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #fff;
  min-width: 40px;
  width: fit-content;
  max-width: 180px;
  padding: 5px;
  margin: 7px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}

.form-control {
  background: none;
  width: fit-content;
  max-width: 120px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  height: 20px;
}

#gender-select {
  background-color: rgba(10, 81, 222, 1);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 8px;
  outline: none;
  border: 1px solid rgba(42, 112, 251, 1);
  border-radius: 4px;
  width: 90px;
  transition: all 0.3s ease;
}

#gender-select option {
  transition: all 0.3s ease;
  background-color: rgba(10, 81, 222, 1);
  border: none;
  outline: none;
  color: #fff;
}

#gender-select:focus {
  outline: none;
  border: none;
  background-color: rgba(10, 81, 222, 1);
  box-shadow: 0 0 4px rgba(10, 81, 222, 1);
}

.create-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.create-button {
  outline: none;
  border: none;
  padding: 5px;
  margin: 10px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
  color: #fff;
}

#confirm-create {
  background-color: rgb(14, 197, 222);
}

#confirm-create:hover {
  background-color: rgb(0, 219, 248);
}

#abort-create {
  background-color: rgb(245, 4, 4);
}

#abort-create:hover {
  background-color: rgb(196, 5, 5);
}

#spawning-locations {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 81, 222, 0.6);
  padding: 20px;
  margin: 20px;
  border-radius: 14px;
}

#spawning-locations h4 {
  font-size: 40px;
  color: #fff;
  position: relative;
  top: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

#spawnLocations {
  padding: 10px;
  margin: 10px;
  color: #fff;
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.spawnLocation {
  background-color: rgba(10, 81, 222, 0.8);
  padding: 10px 5px;
  width: 200px;
  text-align: center;
  border-radius: 7px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.1);
}

.selected {
  width: 210px;
  padding: 12px 7px;
  background-color: rgba(0, 50, 150, 0.8);
  box-shadow: 8px 12px 6px rgba(0, 0, 0, 0.1);
}

.spawnLocation:hover {
  background-color: rgba(0, 85, 255, 0.5);
  box-shadow: 6px 9px 6px rgba(0, 0, 0, 0.1);
}

.selected:hover {
  background-color: rgba(0, 50, 150, 0.8);
  box-shadow: 8px 12px 6px rgba(0, 0, 0, 0.1);
}

#spawnBtn {
  width: 160px;
  height: 47px;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 10px;
  text-align: center;
  transition: all 0.5s ease;
  color: #fff;
  background-color: rgb(7, 239, 76);
}

#spawnBtn:hover {
  background-color: rgb(10, 210, 70);
}

.nothing-selected,
.nothing-selected:hover {
  background-color: rgb(82, 80, 80) !important;
  pointer-events: none;
}
