body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

button,
select {
  cursor: pointer;
}

.server-watermark {
  width: 80px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

#container {
  background: rgba(10, 81, 222, 0.6);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; /* none */
}

#spawnmenu-exit {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  color: #fff;
  background-color: rgba(196, 5, 5, 0.7);
  outline: none;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#spawnmenu-exit:hover {
  background-color: rgba(196, 5, 5, 1);
}

.server-image {
  width: 20%;
  position: absolute;
  top: 20px;
}

.characters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.character {
  background: rgba(10, 81, 222, 0.8);
  width: 220px;
  height: 280px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #fff;
}

.character h4 {
  font-size: 20px;
}

.character-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.character-button {
  width: 80px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 7px;
  color: #fff;
  display: none;
}

#spawn-character {
  background-color: rgb(10, 210, 70);
  transition: all 0.3s ease;
}

#spawn-character:hover {
  background-color: rgb(7, 239, 76);
}

#delete-character {
  transition: all 0.3s ease;
  background-color: rgb(196, 5, 5);
}

#delete-character:hover {
  background-color: rgb(245, 4, 4);
}
#delete-character-confirm {
  transition: all 0.3s ease;
  background-color: rgb(245, 4, 4);
}

#delete-character-confirm:hover {
  background-color: rgb(196, 5, 5);
}
#delete-character-abort {
  transition: all 0.3s ease;
  background-color: rgb(7, 239, 76);
}

#delete-character-abort:hover {
  background-color: rgb(10, 210, 70);
}

#active-character {
  display: none;
  width: 150px;
  height: 40px;
  pointer-events: none;
  background-color: rgb(10, 210, 70);
  font-size: 20px;
}

#create-character {
  transition: all 0.3s ease;
  display: block;
  width: 140px;
  height: 40px;
  font-size: 20px;
  margin-top: 40px;
  background-color: rgb(14, 197, 222);
}

#create-character:hover {
  background-color: rgb(0, 219, 248);
}

.create-character {
  background-color: rgba(10, 81, 222, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 440px;
  border-radius: 12px;
  font-family: sans-serif;
}
.create-character h4 {
  color: #fff;
  font-size: 40px;
  padding: 3px;
  margin: 5px;
}

#create-character-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#firstname {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #fff;
  min-width: 40px;
  width: fit-content;
  max-width: 180px;
  padding: 5px;
  margin: 7px;
  margin-bottom: 0;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

#lastname {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #fff;
  min-width: 40px;
  width: fit-content;
  max-width: 180px;
  padding: 5px;
  margin: 7px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}

.form-control {
  background: none;
  width: fit-content;
  max-width: 120px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  height: 20px;
}

#gender-select {
  background-color: rgba(10, 81, 222, 1);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 8px;
  outline: none;
  border: 1px solid rgba(42, 112, 251, 1);
  border-radius: 4px;
  width: 90px;
  transition: all 0.3s ease;
}

#gender-select option {
  transition: all 0.3s ease;
  background-color: rgba(10, 81, 222, 1);
  border: none;
  outline: none;
  color: #fff;
}

#gender-select:focus {
  outline: none;
  border: none;
  background-color: rgba(10, 81, 222, 1);
  box-shadow: 0 0 4px rgba(10, 81, 222, 1);
}

.create-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.create-button {
  outline: none;
  border: none;
  padding: 5px;
  margin: 10px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
  color: #fff;
}

#confirm-create {
  background-color: rgb(14, 197, 222);
}

#confirm-create:hover {
  background-color: rgb(0, 219, 248);
}

#abort-create {
  background-color: rgb(245, 4, 4);
}

#abort-create:hover {
  background-color: rgb(196, 5, 5);
}

#spawning-locations {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 81, 222, 0.6);
  padding: 20px;
  margin: 20px;
  border-radius: 14px;
}

#spawning-locations h4 {
  font-size: 40px;
  color: #fff;
  position: relative;
  top: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

#spawnLocations {
  padding: 10px;
  margin: 10px;
  color: #fff;
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.spawnLocation {
  background-color: rgba(10, 81, 222, 0.8);
  padding: 10px 5px;
  width: 200px;
  text-align: center;
  border-radius: 7px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.1);
}

.selected {
  width: 210px;
  padding: 12px 7px;
  background-color: rgba(0, 50, 150, 0.8);
  box-shadow: 8px 12px 6px rgba(0, 0, 0, 0.1);
}

.spawnLocation:hover {
  background-color: rgba(0, 85, 255, 0.5);
  box-shadow: 6px 9px 6px rgba(0, 0, 0, 0.1);
}

.selected:hover {
  background-color: rgba(0, 50, 150, 0.8);
  box-shadow: 8px 12px 6px rgba(0, 0, 0, 0.1);
}

#spawnBtn {
  width: 160px;
  height: 47px;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 10px;
  text-align: center;
  transition: all 0.5s ease;
  color: #fff;
  background-color: rgb(7, 239, 76);
}

#spawnBtn:hover {
  background-color: rgb(10, 210, 70);
}

.nothing-selected,
.nothing-selected:hover {
  background-color: rgb(82, 80, 80) !important;
  pointer-events: none;
}
